body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }